<head>
        <title>Aprendendo JavaScript</title>
    </head>
    <body>
        
        <ul></ul>

        <div>
        <input type="text" id="nome">
        <button onClick="adicionar()">Adicionar</button>
        </div>

        <script>

        var elementoListaUl = document.querySelector("ul");
        var inputName = document.getElementById("nome");

        function adicionar() {
        adicionaNomeLista(inputName.value);
        inputName.value = "";
      }

      function adicionaNomeLista(name){
        console.log("TCL: adicionaItem -> name",name);
        var pegaElementoLi = document.createElement("li");
        var criaTextoDoLi = document.createTextNode(name);
        elementoListaUl.appendChild(criaTextoDoLi);
        elementoListaUl.appendChild(pegaElementoLi);
          
      }
      
        </script>
    </body>
</hmtl>