<head>
        <title>Aprendendo JavaScript</title>
    </head>
    <body>

        <ul></ul>

        <script>

        var names = [ "Diego", "Gabriel", "Lucas"];
        
        var elementoListaUl = document.querySelector("ul");

        for (name of names) {
        //chamando função que insere o nome
        adicionaNomeLista(name);
      }

      function adicionaNomeLista(name){
        console.log("TCL: adicionaItem -> name",name);
        var pegaElementoLi = document.createElement("li");
        var criaTextoDoLi = document.createTextNode(name);
        elementoListaUl.appendChild(criaTextoDoLi);
        elementoListaUl.appendChild(pegaElementoLi);
          
      }
      
        </script>
    </body>
</hmtl>